footer.footer-main
    .container-large
        .footer-main-head 
            .footer-main-logo
                img(src="img/logo-light.svg", alt="")
        .footer-main-inner 
            .footer-main-inner-info
                .footer-main-inner-text Мы не берём себе комиссию с донатов и нас нет рекламы, поэтому будем рады если вы поддержите наш проек
                a.footer-main-inner-button.btn.btn-green(href="http://uppora.org/uppora")
                    img(src="img/upp-w.svg", alt="")
                    span Поддержать проект
            .footer-main-inner-media
                .footer-main-inner-links
                    a.footer-main-inner-link(href="#") О&nbsp;платформе
                    a.footer-main-inner-link(href="#") Проекты
                    a.footer-main-inner-link(href="#") Авторам
                    a.footer-main-inner-link(href="#") СМИ&nbsp;о&nbsp;нас
                    a.footer-main-inner-link(href="#") Поддержка
                .footer-main-inner-social
                    a.footer-main-inner-social-link(href="#")
                        img.svg-inline(src="img/upp-g.svg", alt="")
                    a.footer-main-inner-social-link(href="#")
                        img.svg-inline(src="img/vk.svg", alt="")
                    a.footer-main-inner-social-link(href="#")
                        img.svg-inline(src="img/twit.svg", alt="")
                    a.footer-main-inner-social-link(href="#")
                        img.svg-inline(src="img/star.svg", alt="")
    .footer-main-bottom
        .container-large
            .footer-main-bottom-wrap 
                .footer-main-bottom-copyrights © 2022 Uppora	
                .footer-main-bottom-block
                    .footer-main-bottom-lang Русский
                    .footer-main-bottom-divider
                    a.footer-main-bottom-docs(href="#") Правовые документы

include popup-profile.pug
include popup-subs.pug
include popup-cover.pug

script(src='js/jquery-3.6.0.js')
script(src='js/main.js')


