footer.footer
	.container-large
		.footer-wrap
			.footer-block 
				.footer-copyrights © 2022 Uppora
				.footer-divider
				a.footer-about(href="#") О платформе	
			.footer-block
				//- form.footer-lang
				//- 	select
				//- 		option Русский
				.footer-lang Русский
				.footer-divider
				a.footer-docs(href="#") Правовые документы

include popup-profile.pug
include popup-subs.pug
include popup-cover.pug

script(src='js/jquery-3.6.0.js')
script(src='js/mask.js')
script(src='js/select2.full.min.js')
script(src='js/main.js')