header.header.header-small
	.container-large
		.header-top
			.header-top-left
				a.header-logo(href="#")
					img(src="img/logo.svg", alt="")
				a.header-link(href="#") О платформе
				a.header-link(href="#") Проекты
				a.header-link(href="#") Авторам
				a.header-link(href="#") СМИ&nbsp;о&nbsp;нас
				a.header-link(href="#") Поддержка
			
			.header-top-right
				.header-search 
					img(src="img/search.svg", alt="")
				.header-alerts 
					img(src="img/bell.svg", alt="")
				a.header-new.btn.btn-white(href="#") Создать проект				
				.header-profile 
					img(src="img/person.png", alt="")

			.header-mobile
				.header-mobile-search 
						img(src="img/search.svg", alt="")
				.header-mobile-alerts 
					img(src="img/bell.svg", alt="")

			form.header-form
				.input
					input#search(type="search", name="search", placeholder="Поиск...")
					.input-close
						img.svg-inline(src="img/close.svg", alt="")