.popup-subs 
    .popup-subs-wrap
        .popup-subs-header
            .popup-subs-back
                img(src="img/back.svg", alt="")
            .popup-subs-count 
                span.popup-subs-count-num 270&nbsp;
                span подписчиков
            .popup-subs-close
                img(src="img/close.svg", alt="")
        .popup-subs-list 
            .popup-subs-user
                a.popup-subs-user-info(href="#")
                    .popup-subs-user-photo
                        img(src="img/person-1.png", alt="")
                    .popup-subs-user-name Алексей Иванов
                .popup-subs-user-btn.btn.btn-green Подписаться    
            .popup-subs-user
                a.popup-subs-user-info(href="#")
                    .popup-subs-user-photo
                        img(src="img/person.png", alt="")
                    .popup-subs-user-name Иван Ногузадерищенский
                .popup-subs-user-btn.btn.btn-green Подписаться    
            .popup-subs-user
                a.popup-subs-user-info(href="#")
                    .popup-subs-user-photo
                        img(src="img/person-1.png", alt="")
                    .popup-subs-user-name Алексей Иванов
                .popup-subs-user-btn.btn.btn-white Вы подписаны    
