.popup-cover 
    form.popup-cover-wrap
        .popup-cover-header
            .popup-cover-ttl Обложка профиля
            .popup-cover-buttons 
                .popup-cover-delete Удалить
                .popup-cover-input
                    input#cover-input(type="file", name="cover-input")
                    label.btn.btn-white(for="cover-input") Загрузить
            .popup-cover-close
                img(src="img/close.svg", alt="")
        .popup-cover-grid
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/", checked).popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover1.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover2.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover3.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover4.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover5.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover6.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover7.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover8.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover9.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover10.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover11.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover12.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover1.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover2.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover3.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover4.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover5.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover6.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover7.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover8.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover9.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover10.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover11.jpg", alt="")
            label.popup-cover-grid-item
                input(type="radio", name="profile-background", value="https://www.google.com/").popup-cover-grid-item__input
                .popup-cover-grid-item__inner
                    img(src="img/cover12.jpg", alt="")

        form.popup-cover-footer 
            .popup-cover-delete Удалить
            .popup-cover-input
                input#cover-input(type="file", name="cover-input")
                label.btn.btn-white(for="cover-input") Загрузить
