.popup-profile
    .popup-profile-wrap
        .popup-profile-section
            .popup-profile-user 
                .popup-profile-user-img 
                    img(src="img/person.png", alt="")
                .popup-profile-user-info 
                    .popup-profile-user-name Илья Панов
                    .popup-profile-user-email email@website.com
        .popup-profile-section 
            a.popup-profile-link Профиль
            a.popup-profile-link Настройки
            a.popup-profile-link Служба поддержки
            a.popup-profile-link.mobile О платформе
            a.popup-profile-link.mobile.green Создать проект +
        .popup-profile-section
            a.popup-profile-link Добавить аккаунт
            a.popup-profile-link Выйти
        .popup-profile-section.popup-profile-section-bottom
            .popup-profile-lang Русский
            .popup-profile-footer 
                a.popup-profile-docs Правовые документы
                .popup-profile-copyrights © 2022 Uppora