.popup-avatar
    form.popup-avatar-wrap#avatar 
        .popup-avatar-header 
            .popup-avatar-ttl Фото профиля
            .popup-avatar-close
                img(src="img/close.svg", alt="")
        .popup-avatar-close-desctop 
            img(src="img/close-w.svg", alt="")
        .popup-avatar-img
            img(src="img/person-edit.jpg", alt="")
        .popup-avatar-footer
            .popup-avatar-input
                input#avatar-input(type="file", name="avatar-input")
                label(for="avatar-input") Загрузить
            button.popup-avatar-btn(type="submit") Сохранить     

