doctype html
html(lang='ru')

    include includes/head.pug

    body

        include includes/header-about.pug

        main.a-about
            .container-large.a-about__container
                .a-about__inner
                    h1.a-about__title аппора:&nbsp;
                        <span class='js-animation-title text-accent'>
                            span.is-active творческим людям
                            span ютуб-каналам
                            span компаниям
                            span телеграм-каналам
                            span блогерам
                            span сообществам
                            span музыкантам
                            span фотографам
                            span подкастам
                        </span>
                picture.img-cover.a-about__poster
                    img(src="img/a-about-img-1.jpg", alt="аппора: творческим людям")
                section.a-about-info
                    .a-about-info__content
                        h2.a-about-info__title О платформе
                        .content.a-about-info__text
                            p Аппора – современная платформа для донатов с личным профилем и без подписок. Донат – это безвозмездная денежная поддержка чего-либо, что вам нравится.
                            p Наша цель – превратить помощь и финансовую поддержку в привычку на уровне страны у миллионов пользователей, поддерживающих тысячи проектов.
                        .author-cite.a-about-info__author
                            .author-cite__inner
                                picture.img-cover.author-cite__avatar
                                    img(src="img/person-edit.jpg", alt="Илья Панов")
                                blockquote.blockquote-card.author-cite__blockquote
                                    p.content.blockquote-card__text – Я знаю много хороших проектов, которые хочу поддержать. Но мне не нравится ни один из существующих способов. Поэтому делаю свой.
                                    footer.blockquote-card__footer Основатель проекта, <cite class="blockquote-card__author">Илья Панов</cite>
                    .a-about-info__aside
                        .card-badge-text.a-about-info__aside-card
                            .card-badge-text__title Для прессы:
                            .card-badge-text__contacts
                                a(href="img/press-release-uppora.pdf" target="_blank") скачать пресс-релиз
                        .card-badge-text.a-about-info__aside-card
                            .card-badge-text__title Бренд:
                            .card-badge-text__contacts
                                a(href="#") скачать логотип
                        .card-badge-text.a-about-info__aside-card
                            .card-badge-text__title Сотрудничество:
                            .card-badge-text__contacts
                                a(href="mailto:42@uppora.org") 42@uppora.org
                section.clients-info
                    .clients-info__aside
                            .clients-info__aside-percent 67%
                            .progress.clients-info__aside-progress
                                span(style="width: 67%;")
                    .clients-info__content
                        h2.clients-info__title пользователей в интернете, согласно статистики, воздерживаются от благоворительности и донатов из-за недоверия к существующими сервисам
                        .content.clients-info__text
                            p Люди не ощущают, что вносят вклад и не получают обратную связь от того кому помогли. <strong>Аппора</strong> не просто финансовая краундфайдинговая платформа. У нас есть гарант финансовой безопасности в лице Тинкофф Банка, полная прозрачность и аналитика. Благодаря инфраструктуре платформы авторы могут улучшать свои проекты и вносить вклад в развитие общества, а неравнодушные люди – открыто и&nbsp;безопасно благодарить, поддерживать и помогать.
                section.a-about-company
                    h2.section-title.a-about-company__title Компаниям
                    .a-about-company__content
                        ul.list-info.a-about-company__list
                            li
                                span.list-info__icon(style="background-image: url(img/list-info-arrow.svg)")
                                | Профиль вашей компании на Аппоре, как и профиль вашей компании в Инстаграме или Вконтакте – ещё один способ коммуникации с вашей аудиторией и клиентами.
                            li
                                span.list-info__icon(style="background-image: url(img/list-info-arrow.svg)")
                                | Проекты, которые вы поддержите от лица вашего бренда помогут повысить уровень лояльности клиентов к вашей компании. Например если вы продаете спортивные товары, то поддержка проектов связанных со спортом положительно скажется на репутации вашей компании.
                            li
                                span.list-info__icon(style="background-image: url(img/list-info-arrow.svg)")
                                | Вы так же можете создать свой проект от лица компании и предложить своей аудитории поддержать его. На том же примере, если вы продаете спортивные товары, то можете начать дарить спортивный инвентарь тем, кому он действительно нужен (молодым командам, детям и т.д.), рассказывать об этом в блоге своего проекта на Аппоре и предложить своим клиентам поддержать вас.
                        .group-btns.a-about-company__btns
                            button(type="submit").btn.btn--size-md.btn-green-accent.group-btns__item Создать проект
                section.news-section
                    .news-section__header
                        h2.section-title.news-section__title Новости
                        a(href="#").link-accent-simple.news-section__view-all Смотреть все
                    .news-list
                        .row.news-list__row
                            .row__col.row__col--4.news-list__col
                                article.news-card.news-list__card
                                    picture.img-cover.news-card__picture
                                        img(src="img/news-card-1.jpg", alt="Формирование дальнейших направлений развития")
                                    .news-card__content
                                        h3.news-card__title
                                            a(href="#").news-card__link Формирование дальнейших направлений развития
                                        footer.news-card__footer
                                            time.news-card__time 2 недели назад
                            .row__col.row__col--4.news-list__col
                                article.news-card.news-list__card
                                    picture.img-cover.news-card__picture
                                        img(src="img/news-card-2.jpg", alt="Формирование дальнейших направлений развития")
                                    .news-card__content
                                        h3.news-card__title
                                            a(href="#").news-card__link Формирование дальнейших направлений развития
                                        footer.news-card__footer
                                            time.news-card__time 2 недели назад
                            .row__col.row__col--4.news-list__col
                                article.news-card.news-list__card
                                    picture.img-cover.news-card__picture
                                        img(src="img/news-card-3.jpg", alt="Формирование дальнейших направлений развития")
                                    .news-card__content
                                        h3.news-card__title
                                            a(href="#").news-card__link Формирование дальнейших направлений развития
                                        footer.news-card__footer
                                            time.news-card__time 2 недели назад
                section.team-section
                    h2.section-title.team-section__title Команда
                    .team-list
                        .row.team-list__row
                            .row__col.row__col--4.team-list__col
                                article.team-card.team-list__card
                                    picture.img-cover.team-card__picture
                                        img(src="img/team-card-1.jpg", alt="Илья Панов")
                                    .team-card__content
                                        p.team-card__name
                                            a(href="#").team-card__link Илья Панов
                                        p.team-card__position Основатель проекта
                                    p.team-card__arrow(style="background-image: url(img/team-card-arrow.svg)")
                            .row__col.row__col--4.team-list__col
                                article.team-card.team-list__card
                                    picture.img-cover.team-card__picture
                                        img(src="img/team-card-2.jpg", alt="Илья")
                                    .team-card__content
                                        p.team-card__name
                                            a(href="#").team-card__link Илья
                                        p.team-card__position Дизайн
                                    p.team-card__arrow(style="background-image: url(img/team-card-arrow.svg)")
                            .row__col.row__col--4.team-list__col
                                article.team-card.team-list__card
                                    picture.img-cover.team-card__picture
                                        img(src="img/team-card-empty.jpg", alt="Дмитрий Щукин")
                                    .team-card__content
                                        p.team-card__name
                                            a(href="#").team-card__link Дмитрий
                                        p.team-card__position Разработка
                                    p.team-card__arrow(style="background-image: url(img/team-card-arrow.svg)")
                            .row__col.row__col--4.team-list__col
                                article.team-card.team-list__card
                                    picture.img-cover.team-card__picture
                                        img(src="img/team-card-empty.jpg", alt="Маргарита Иванова")
                                    .team-card__content
                                        p.team-card__name
                                            a(href="#").team-card__link Маргарита Иванова
                                        p.team-card__position PR агент
                                    p.team-card__arrow(style="background-image: url(img/team-card-arrow.svg)")
                            .row__col.row__col--4.team-list__col
                                article.team-card.team-list__card
                                    picture.img-cover.team-card__picture
                                        img(src="img/team-card-empty.jpg", alt="Михаил Шевцов")
                                    .team-card__content
                                        p.team-card__name
                                            a(href="#").team-card__link Михаил Шевцов 
                                        p.team-card__position Юрист
                                    p.team-card__arrow(style="background-image: url(img/team-card-arrow.svg)")
            section#mass-media-section.mass-media-section
                .container-large.mass-media-section__container
                    h2.section-title.mass-media-section__title СМИ о нас
                    .mass-media-section__list
                        .mass-media-section__list-col
                            .mass-media-card
                                picture.mass-media-card__picture
                                    a(href="#", target="_blank").mass-media-card__link
                                        img(src="img/mass-media-logo-1.svg", alt="Стольник").svg-inline.mass-media-card__img
            section.appeal-section.appeal-section--about
                .container-large.appeal-section__container
                    .appeal-section__content
                        h2.section-title.appeal-section__title Есть вопросы или предложения?
                        .content.appeal-section__text
                            p Воспользуйтесь формой обратной связи или напишите блоге проекта
                        .group-btns.appeal-section__btns
                            a(href="#").btn.btn--size-md.btn-green-accent.group-btns__item Написать сообщение
                            a(href="#").btn.btn--size-md.btn-trp.group-btns__item Перейти в блог

        include includes/footer-main.pug