doctype html
html(lang='ru')

    include includes/head.pug

    body

        include includes/header.pug

        main.authors
            section.authors-intro
                .container-large.authors-intro__container
                    .row.authors-intro__row
                        .row__col.row__col--6.authors-intro__col.authors-intro__col--content
                            .authors-intro__content
                                h1.authors-intro__title Есть <span class='text-accent'>интересный</span> проект?
                                .content.authors-intro__desription
                                    p Добавьте его на нашей платформе, чтобы аудитория поддержала вас донатом и словом
                                .group-btns.authors-intro__btns
                                    a(href="#").btn.btn--size-md.btn-green-accent.group-btns__item Добавить проект
                                    a(href="#").btn.btn--size-md.btn-trp.group-btns__item Посмотреть демо проект
                                .tinkoff-bank.authors-intro__tinkoff-bank
                                    img(src="img/tinkoff-logo.svg", alt="Тинькофф банк").tinkoff-bank__logo
                                    .tinkoff-bank__description Безопасность и надежность всех финансовых операций гарантирует Тинькофф&nbsp;Банк
                        .row__col.row__col--6.authors-intro__col.authors-intro__col--media
                            picture.authors-intro__picture
                                img(src="img/authors-intro-img.png", alt="Есть интересный проект?")

            section.a-benefits-section
                .container-large.a-benefits-section__container
                    h2.section-title.a-benefits-section__title Зачем добавлять проект на Аппору?
                    .a-benefits-section__list
                        .a-benefits-section__list-col
                            .a-benefits-card
                                .a-benefits-card__header
                                    picture.a-benefits-card__picture
                                        img(src="img/benefits-card-icon-1.svg", alt="Удобно для людей").a-benefits-card__icon
                                .a-benefits-card__content
                                    h3.a-benefits-card__title Удобно для людей
                                    p.a-benefits-card__text сделать донат проще чем на других платформах
                        .a-benefits-section__list-col
                            .a-benefits-card
                                .a-benefits-card__header
                                    picture.a-benefits-card__picture
                                        img(src="img/benefits-card-icon-2.svg", alt="Больше аудитория").a-benefits-card__icon
                                .a-benefits-card__content
                                    h3.a-benefits-card__title Больше аудитория
                                    p.a-benefits-card__text расскажите людям о своем проекте
                        .a-benefits-section__list-col
                            .a-benefits-card
                                .a-benefits-card__header
                                    picture.a-benefits-card__picture
                                        img(src="img/benefits-card-icon-3.svg", alt="Больше донатов").a-benefits-card__icon
                                .a-benefits-card__content
                                    h3.a-benefits-card__title Больше донатов
                                    p.a-benefits-card__text больше мотивиции двигаться вперёд
                        .a-benefits-section__list-col
                            .a-benefits-card
                                .a-benefits-card__header
                                    picture.a-benefits-card__picture
                                        img(src="img/benefits-card-icon-4.svg", alt="Проект развивается").a-benefits-card__icon
                                .a-benefits-card__content
                                    h3.a-benefits-card__title Проект развивается
                                    p.a-benefits-card__text все счастливы

            section.a-section-card
                .container-large.a-section-card__container
                    .a-section-card__inner
                        .a-section-card__media
                            picture.a-section-card__picture
                                img(width="530", height="486", srcset="img/section-card-1@2x.png 2x", src="img/section-card-1.png")
                        .a-section-card__content
                            h2.section-title.a-section-card__title <span class='text-accent'>Без</span> обязательной <span class='text-accent'>регистрации</span>, подписок и&nbsp;продаж
                            .content.a-section-card__text
                                p Сделать донат можно в пару кликов, без регистрации, скрытых условий и подписок. Вы получите денежные средства не продавая и не предлагая ничего взамен.

            section.a-section-info
                .container-large.a-section-info__container
                    .a-section-info__inner
                        .a-section-info__content
                            h2.section-title.a-section-info__title Удобная и прозрачная платформа <span class='text-accent'>для всех</span>
                            .content.a-section-info__text
                                p Аудитории легко поддержать вас рублем, оставить комментарий, получить обратную связь и видеть результаты сбора донатов.
                            a(href="#").btn.btn--size-md.btn-green-accent.a-section-info__btn Зарегистрироваться
                        .a-section-info__media
                            picture.a-section-info__picture
                                img(width="381", height="462", srcset="img/section-card-2@2x.png 2x", src="img/section-card-2.png")
                                .a-section-info__decor(style="background-image: url(../img/section-card-decor-1.svg)")

            section.a-section-card
                .container-large.a-section-card__container
                    .a-section-card__inner
                        .a-section-card__media
                            picture.a-section-card__picture
                                img(width="530", height="417", srcset="img/section-card-4@2x.png 2x", src="img/section-card-4.png")
                        .a-section-card__content
                            h2.section-title.a-section-card__title Что останавливает людей поддержать ваш проект?
                            .content.a-section-card__text
                                p Многие боятся делать перевод на номер неизвестной карты, а регистрирация на сервисе донатов ради вашего проекта, с оформлением ежемесячной подписки – для многих неудобна или даже накладна. При этом не все проекты, по тематике, подходят под формат подписки.
                                p На Аппоре, пользователи могут поддержать любой проект. Будь то ютуб-канал, блогер, приют для животных, интернет-сообщество, музыкант или организация. Мы даём выбор!

            section.a-section-card
                .container-large.a-section-card__container
                    .a-section-card__inner
                        .a-section-card__media
                            picture.a-section-card__picture
                                img(width="530", height="425", srcset="img/section-card-3@2x.png 2x", src="img/section-card-3.png")
                        .a-section-card__content
                            h2.section-title.a-section-card__title Поделитесь QR-кодом или установите виджет
                            .content.a-section-card__text
                                p Чтобы сообщить своей аудитории о возможности поддержать ваш проект у нас есть виджеты, которые можно установить себе на сайт или сгенерировать QR-код на страницу вашего проекта на Аппоре.
                                p А еще мы подготовили несколько рекомендаций о том, как лучше обратиться к своей аудитории с предложением поддержать ваш проект.
                            .group-btns.a-section-card__group-btns
                                a(href="#").btn.btn--size-md.btn-trp.group-btns__item Посмотреть рекомендации

            section.why-uppora
                .container-large.why-uppora__container
                    h2.section-title.why-uppora__title Почему <span class='text-accent'>Аппора</span>
                    .why-uppora-list
                        .row.why-uppora-list__row
                            .row__col.row__col--4.why-uppora-list__col
                                article.why-uppora-card.why-uppora-list__card
                                    picture.img-cover.why-uppora-card__picture
                                        img(src="img/why-uppora-card-1@2x.jpg", alt="Обратная связь")
                                    .why-uppora-card__content
                                        h3.why-uppora-card__title Обратная связь
                                        .content.why-uppora-card__text
                                            p Получайте вместе с донатами сообщения от пользователей, вступайте в переписку, используйте обратную связь и делитесь новостями чтобы двигаться вверх.
                            .row__col.row__col--4.why-uppora-list__col
                                article.why-uppora-card.why-uppora-list__card
                                    picture.img-cover.why-uppora-card__picture
                                        img(src="img/why-uppora-card-2.svg", alt="Прозрачность")
                                    .why-uppora-card__content
                                        h3.why-uppora-card__title Прозрачность
                                        .content.why-uppora-card__text
                                            p В личном кабинете есть статистика о собранных донатах, посещениях и другие полезные данные, чтобы вы могли проанализировать эффективность.
                            .row__col.row__col--4.why-uppora-list__col
                                article.why-uppora-card.why-uppora-list__card
                                    picture.img-cover.why-uppora-card__picture
                                        img(src="img/why-uppora-card-3.svg", alt="Низкая комиссия")
                                    .why-uppora-card__content
                                        h3.why-uppora-card__title Низкая комиссия
                                        .content.why-uppora-card__text
                                            p Вы можете вывести собранные средства в любой момент. Комиссия платформы всего 3% с учетом комиссии банка.

            section.appeal-section
                .container-large.appeal-section__container
                    .appeal-section__content
                        h2.section-title.appeal-section__title Есть вопросы или пожелания?
                        .content.appeal-section__text
                            p Воспользуйтесь формой обратной связи или оставьте запись в блоге нашего проекта
                        .group-btns.appeal-section__btns
                            a(href="faq.html").btn.btn--size-md.btn-green-accent.group-btns__item Написать сообщение
                            a(href="https://uppora.org/users/1/projects/7/news_posts/3").btn.btn--size-md.btn-trp.group-btns__item Перейти в блог

        include includes/footer-main.pug