doctype html
html(lang='ru')

include includes/head.pug

body

    include includes/header.pug

    main.d-page
        section.d-donate
            .container.d-donate__container
                .ty-donate.d-donate__thank
                    .ty-donate__inner
                        .ty-donate__media
                            img(src="img/logo-animated.gif")
                        h1.ty-donate__title Упс. Что-то пошло не так
                        .content.ty-donate__text
                            p Здесь идёт описание самой ошибки или того, что необходимо сделать и кнопка помощи, если ошибка произошла по нашей вине
                        a(href="#").btn.btn--size-md.btn-trp.ty-donate__btn Служба поддержки
                        a(href="#").prev-link.ty-donate__prev-link
                            span.prev-link__icon(style="background-image: url(img/prev-link-arrow.svg)")
                            | На страницу оплаты

    include includes/footer.pug