doctype html
html(lang='ru')

include includes/head.pug

body
	style.
		body {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		body a {
			display: block;
			margin-bottom: 15px;
		}

	a(href="/profile.html") Profile Чужой
	a(href="/profile-my.html") Profile Свой
	a(href="/project.html") Project - О проекте
	a(href="/project-more.html") Project - Ещё (экран =< 768px)
	a(href="/project-blog.html") Project - Блог
	a(href="/project-blog-detail.html") Project - Блог - Подробно
	a(href="/my-project-blog.html") Project - Мой Проект - Блог
	a(href="/my-project-add-post.html") Project - Мой Проект - Добавить пост
	a(href="/my-project-preview.html") Project - Мой Проект - Добавить пост - Предпросмотр
	a(href="/home.html") Главная
	a(href="/profile-settings-main.html") Настройки профиля - Основное
	a(href="/profile-settings-safety.html") Настройки профиля - Безопасность
	a(href="/profile-settings-notifications.html") Настройки профиля - Уведомления
	a(href="/profile-settings-payment.html") Настройки профиля - Оплата
	a(href="/authors.html") Authors
	a(href="/donate.html") Donate
	a(href="/new-project-1.html") new-project-1
	a(href="/new-project-2.html") new-project-2
	a(href="/new-project-3.html") new-project-3
	a(href="/new-project-4.html") new-project-4
	a(href="/all-projects.html") all-projects
	a(href="/about.html") about