doctype html
html(lang='ru')

    include includes/head.pug

    body
        style.
            .link-wrapper {
                padding: 50px;
                column-count: 3;
                column-gap: 100px;
                font-size: 16px;
            }
            a {
                margin: 0 0 8px;
                display: block;
                color: #000;
                text-decoration: none;
            }
        .link-wrapper
            a(href="/about.html") about
            a(href="/all-projects.html") all-projects
            a(href="/authors.html") authors
            a(href="/donate-1.html") donate-1
            a(href="/donate-2.html") donate-2
            a(href="/donate-3.html") donate-3
            a(href="/donate-4.html") donate-4
            a(href="/donate-5.html") donate-5
            a(href="/donate-6.html") donate-6
            a(href="/home.html") home
            a(href="/my-project-add-post.html") my-project-add-post
            a(href="/my-project-blog.html") my-project-blog
            a(href="/my-project-preview.html") my-project-preview
            a(href="/new-project-1.html") new-project-1
            a(href="/new-project-2.html") new-project-2
            a(href="/new-project-3.html") new-project-3
            a(href="/new-project-4.html") new-project-4
            a(href="/profile.html") profile
            a(href="/profile-drafts.html") profile-drafts
            a(href="/profile-my.html") profile-my
            a(href="/profile-settings-main.html") profile-settings-main
            a(href="/profile-settings-notifications.html") profile-settings-notifications
            a(href="/profile-settings-payment.html") profile-settings-payment
            a(href="/profile-settings-safety.html") profile-settings-safety
            a(href="/project.html") project
            a(href="/project-blog.html") project-blog
            a(href="/project-blog-detail.html") project-blog-detail
            a(href="/project-donate.html") project-donate
            a(href="/project-more.html") project-more
            a(href="/project-settings-1.html") project-settings-1
            a(href="/project-settings-2.html") project-settings-2
            a(href="/project-settings-3.html") project-settings-3
            a(href="/project-settings-3-1.html") project-settings-3-1
            a(href="/project-settings-3-2.html") project-settings-3-2
            a(href="/project-settings-3-3.html") project-settings-3-3
            a(href="/project-settings-4.html") project-settings-4
            a(href="/project-settings-5.html") project-settings-5
            a(href="/project-settings-6.html") project-settings-6
            a(href="/project-settings-7.html") project-settings-7
            a(href="/support-1.html") support-1
            a(href="/support-2.html") support-2
            a(href="/support-3.html") support-3
            a(href="/support-4.html") support-4
            a(href="/support-5.html") support-5