doctype html
html(lang='ru')

    include includes/head.pug

    body

        include includes/header.pug

        .project-preview
            .project-preview-header
                .container-small
                    .project-preview-header-inner
                        a.project-detail-back(href="#")
                            img(src="img/back-b.svg", alt="")
                            span Назад
                        .project-preview-header-ttl Предпросмотр проекта

        main.project-detail    


            .container-small
                .project-detail-header
                    .project-detail-header-img 
                        img(src="img/post-person.png", alt="")
                    .project-detail-header-info
                        .project-detail-header-name Опыт развития форм деятельности
                        .project-detail-header-date вчера в 12:45

                .project-detail-ttl Коллективный маркетинг: развитие и предпосылки

                .project-detail-img
                    img(src="img/project.jpg", alt="")
                .project-detail-text
                    p Селекция бренда восстанавливает сублимированный принцип восприятия. Объемная скидка спонтанно поддерживает креативный бизнес-план. Нишевый проект усиливает имидж предприятия. Медиавес, суммируя приведенные примеры, конкурентоспособен.
                    p Организация практического взаимодействия восстанавливает нишевый проект, размещаясь во всех медиа. Медиа переворачивает культурный мониторинг активности. Конвесия покупателя спонтанно транслирует бюджет на размещение. Узнавание бренда без оглядки на авторитеты достижимо в разумные сроки.
                    p Соцдем характеристика аудитории, пренебрегая деталями, подсознательно усиливает конструктивный фактор коммуникации. Принцип восприятия, суммируя приведенные примеры, продуцирует эмпирический ребрендинг. По мнению ведущих маркетологов, план размещения осмысленно создает рекламный клаттер. Стимулирование сбыта тормозит повседневный баинг и селлинг. Конкурент, отбрасывая подробности, отражает метод изучения рынка, размещаясь во всех медиа. Селекция бренда, анализируя результаты рекламной кампании, консолидирует ролевой опрос.    
                        
        
        include includes/footer.pug