doctype html
html(lang='ru')

include includes/head.pug

body

    include includes/header.pug

    main.n-new-project
        .container.n-new-project__container
            aside.n-new-project__aside
                .n-new-project__aside-title Новый проект
                nav(role="navigation").nav-step.n-new-project__aside-nav
                    ul.nav-step__list
                        li.nav-step__item
                            a(href="new-project-1.html").nav-step__link 1. Основная информация
                        li.nav-step__item
                            a(href="new-project-2.html").nav-step__link 2. Изображения
                        li.nav-step__item
                            a(href="new-project-3.html").nav-step__link.is-active 3. Описание
                        li.nav-step__item
                            a(href="new-project-4.html").nav-step__link.is-disabled 4. Вывод оплаты
            section.n-new-project__main
                h1.n-new-project__main-title Описание
                .site-pager.n-new-project__main-pager
                    a(href="new-project-2.html").pager-link.pager-link--prev.site-pager__link
                        .pager-link__icon(style="background-image: url(img/pager-link-arrow.svg)")
                        | Назад
                    p.u-subtitle.site-pager__steps Шаг 3 из 4
                    a(href="new-project-4.html").pager-link.pager-link--next.pager-link--is-hidden.site-pager__link
                        .pager-link__icon(style="background-image: url(img/pager-link-arrow.svg)")
                        | Вперед
                form(action="#").n-new-project__main-form
                    .input-block.n-new-project__main-form__area-item
                        label(for="n-new-project-description").input-block__label
                            span.input-block__label-name Краткое описание *
                            span.input-block__label-description Будет представлять карточку проекта в ленте рекомендаций, списках и на странице проекта
                        .input-block__textarea-wrapper
                            textarea(type="text", name="", id="n-new-project-description", rows="", cols="", maxlength="160" placeholder="Максимум 160 символов с пробелами").input-el.input-el--textarea.input-el--textarea-size-md.input-block__el
                            .input-block__textarea-counter 0/160
                    .input-block.n-new-project__main-form__area-item
                        label(for="n-new-project-description").input-block__label
                            span.input-block__label-name Полное описание *
                            span.input-block__label-description Расскажите, почему вы решили создать этот проект, как возникла идея и зачем вам нужна поддержка. Форматы для загружаемых изображений: JPEG, PNG, BMP или GIF
                        .e-editor.input-block__editor
                            img(src="img/editor.jpg").e-editor__img

                    .group-btns.n-new-project__main-form-btns
                        button(type="submit").btn.btn--size-sm.btn-green.group-btns__item Далее
                        button(type="button").btn.btn--size-sm.btn-trp.group-btns__item Сохранить в черновики
                        button(type="button").btn.btn--size-sm.btn-simple.group-btns__item Предпросмотр

    include includes/footer.pug