doctype html
html(lang='ru')

    include includes/head.pug

    body

        include includes/header.pug

        main.settings.settings-profile
            .container
                .settings-wrap

                    .settings-tabs
                        .settings-tabs-head
                            .settings-tabs-img.setting-profile-img
                                img(src="img/person.png", alt="")
                            .settings-tabs-info
                                .settings-tabs-info-top.settings-profile-name Илья Панов    
                                .settings-tabs-info-bottom.settings-profile-email adress@website.com
                        nav(role="navigation").nav-step.nav-step--mobile-scroll.settings-tabs-head-nav-step
                            ul.nav-step__list
                                li.nav-step__item
                                    a(href="profile-settings-main.html").nav-step__link Основное
                                li.nav-step__item
                                    a(href="profile-settings-safety.html").nav-step__link Безопасность
                                li.nav-step__item
                                    a(href="profile-settings-payment-1.html").nav-step__link Способ оплаты
                                li.nav-step__item
                                    a(href="profile-settings-notifications.html").nav-step__link Уведомления
                                li.nav-step__item
                                    a(href="profile-settings-verification-1.html").nav-step__link.is-active Верификация

                    .settings-inner
                        .settings-inner-form-group
                            h1.settings-inner-ttl Верификация
                            form(action="#").user-verification
                                .user-verification__status-wrap
                                    .verification-status.verification-status--hold.user-verification__status
                                        svg.u-icon.verification-status__icon
                                            use(xlink:href="img/sprite.svg#clock")
                                        .verification-status__text Заявка на рассмотрении
                                    .user-verification__status-description Мы получили вашу заявку, скоро всё проверим и пришлём уведомление. Также статус верификации всегда доступен на данной странице.
                                    .verification-status.verification-status--passed.user-verification__status
                                        svg.u-icon.verification-status__icon
                                            use(xlink:href="img/sprite.svg#check")
                                        .verification-status__text Профиль верифицирован
                                    .user-verification__status-description Поделитись ссылкой на ваш профиль со своей аудиторией в других соцсетях, чтобы привлечь больше внимания к вашим проектам
                                    a(href="#").btn.btn--size-sm.btn-trp.user-verification__status-btn Копировать ссылку
                                    .verification-status.verification-status--failed.user-verification__status
                                        svg.u-icon.verification-status__icon
                                            use(xlink:href="img/sprite.svg#error")
                                        .verification-status__text Не пройдена
                                    .user-verification__status-description Фотография, имя и фамилия, указанные в <a href="#" class="link-accent" target="_blank">вашем профиле</a> не соответствуют присланным вами документам. Пожалуйста проверьте всё ещё раз и отправьте заявку повторно.
                                    a(href="#").btn.btn--size-sm.btn-trp.user-verification__status-btn Отправить заявку

        include includes/footer.pug