doctype html
html(lang='ru')

    include includes/head.pug

    body

        include includes/header-profile-new.pug

        main.profile 
            .container 
                .profile-wrap

                    .profile-tabs 
                        .profile-tab Создал&nbsp;
                            span 9
                        .profile-tab Поддержал&nbsp;
                            span 15
                        .profile-tab.active Черновики&nbsp;
                            span 2

                    .profile-posts 
                        
                        .post
                            .post-header 
                                .post-header-img 
                                    img(src="img/post-person.png", alt="")
                                .post-header-info 
                                    .post-header-ttl Опыт развития различных форм деятельности
                                    .post-header-date вчера в 17:40
                                .filter-item.filter-item--dotted.post-header-btn
                                    button(type="button").js-filter-open.filter-item__btn
                                        svg.u-icon.filter-item__btn-dotted
                                            use(xlink:href="img/sprite.svg#dotted")
                                    .filter-item__dropdown
                                        .filter-item__dropdown-action-list
                                            .filter-item__dropdown-action Опция 1
                                            .filter-item__dropdown-action Опция 2
                            .post-img 
                                img(src="img/post.jpg", alt="")
                            .post-text
                                |В соответствии с законами сохранения энергии, угловая скорость искажает
                                |суммарный поворот. Направление заставляет иначе взглянуть на то, что такое курс. Собственный
                                |кинетический момент мал. Гироскопический прибор вращает гиротахометр.
                        
                        .post
                            .post-header 
                                .post-header-img 
                                    img(src="img/post-person.png", alt="")
                                .post-header-info 
                                    .post-header-ttl Опыт развития различных форм деятельности
                                    .post-header-date вчера в 17:40
                                .filter-item.filter-item--dotted.post-header-btn
                                    button(type="button").js-filter-open.filter-item__btn
                                        svg.u-icon.filter-item__btn-dotted
                                            use(xlink:href="img/sprite.svg#dotted")
                                    .filter-item__dropdown
                                        .filter-item__dropdown-action-list
                                            .filter-item__dropdown-action Опция 1
                                            .filter-item__dropdown-action Опция 2
                            .post-img 
                                img(src="img/post.jpg", alt="")
                            .post-text
                                |В соответствии с законами сохранения энергии, угловая скорость искажает
                                |суммарный поворот. Направление заставляет иначе взглянуть на то, что такое курс. Собственный
                                |кинетический момент мал. Гироскопический прибор вращает гиротахометр.

                    aside.profile-aside
                        .profile-aside-text
                            |Переходное состояние последовательно. Весьма существенно следующее:
                            |интенция изящно образует фабульный каркас. Текст, как бы это ни казалось парадоксальным, имеет
                            |архетип, однако само по себе состояние игры всегда амбивалентно. Теория наивного и
                            |сентиментального искусства.
                        .profile-aside-adress Химки, Московская обл.
                        .profile-aside-links
                            a.profile-aside-link(href="#") Вконтакте
                            a.profile-aside-link(href="#") Telegram
                            a.profile-aside-link(href="#") YouTube

        include includes/footer.pug