doctype html
html(lang='ru')

include includes/head.pug

body#myProfile

    include includes/header-profile-empty.pug

    //- Для проверки JS свой или чужой профайл открыт
    

    main.profile 
        .container 
            .profile-wrap

                .profile-tabs 
                    .profile-tab.active Создал&nbsp;
                        span 0
                    .profile-tab Поддержал&nbsp;
                        span 0

                .profile-posts                     
                    

                aside.profile-aside
                    

    include includes/footer.pug