doctype html
html(lang='ru')

    include includes/head.pug

    body

        include includes/header.pug

        main.settings.settings-profile
            .container
                .settings-wrap

                    .settings-tabs
                        .settings-tabs-head
                            .settings-tabs-img.setting-profile-img
                                img(src="img/person.png", alt="")
                            .settings-tabs-info
                                .settings-tabs-info-top.settings-profile-name Илья Панов    
                                .settings-tabs-info-bottom.settings-profile-email adress@website.com
                        nav(role="navigation").nav-step.nav-step--mobile-scroll.settings-tabs-head-nav-step
                            ul.nav-step__list
                                li.nav-step__item
                                    a(href="profile-settings-main.html").nav-step__link Основное
                                li.nav-step__item
                                    a(href="profile-settings-safety.html").nav-step__link Безопасность
                                li.nav-step__item
                                    a(href="profile-settings-payment-1.html").nav-step__link.is-active Способ оплаты
                                li.nav-step__item
                                    a(href="profile-settings-notifications.html").nav-step__link Уведомления
                                li.nav-step__item
                                    a(href="profile-settings-verification-1.html").nav-step__link Верификация

                    form(action="#").settings-inner
                        .settings-inner-form-group
                            .settings-inner-ttl Способ оплаты

                        //- Форма добавления карты
                        .settings-inner-form.notice
                        
                            .settings-inner-form-group
                                .settings-inner-form-label Добавление новой карты
                                .settings-inner-form-text Visa, Mastercard, Maestro, МИР

                            .settings-inner-form-group
                                .input.input-payment
                                    .input-payment-label Номер карты
                                    input#profile-card-number(type="text", name="profile-card-number", placeholder="ХХХХ ХХХХ ХХХХ ХХХХ")
                                .input-group-payment.input-payment
                                    .input-card-block
                                        .input-payment-label Срок действия
                                        .input-card-group
                                            .input.input-card
                                                input#profile-card-month(type="text", name="profile-card-month", placeholder="ММ")
                                            .input-card-devider /
                                            .input.input-card
                                                input#profile-card-year(type="text", name="profile-card-year", placeholder="ГГ")    
                                    .input-card-block
                                        .input-payment-label Код
                                        .input-card-group
                                            .input.input-card
                                                input#profile-card-cvc(type="text", name="profile-card-cvc", placeholder="CVC")
                                
                        .group-btns.settings-inner-form-group-btns
                            button(type="submit").btn.btn--size-sm.btn-green-accent.group-btns__item Далее
                            button(type="submit").btn.btn--size-sm.btn-simple.group-btns__item Отмена

                                            
        include includes/footer.pug