doctype html
html(lang='ru')

    include includes/head.pug

    body

        include includes/header.pug

        main.project-settings
            .container.project-settings__container
                aside.project-settings__aside
                    .project-tip.project-settings__aside-project-tip
                        picture.img-cover.project-tip__picture
                            img(src="img/project-ava.jpg", alt="Опыт развития форм деятельности").project-tip__img
                        .project-tip__content
                            .text-overflow.project-tip__name Опыт развития форм деятельности
                            a(href="#").project-tip__prev-link вернуться к проекту
                    nav(role="navigation").nav-step.nav-step--mobile-scroll.project-settings__aside-nav
                        ul.nav-step__list
                            li.nav-step__item
                                a(href="project-settings-1.html").nav-step__link Донаты
                            li.nav-step__item
                                a(href="project-settings-2.html").nav-step__link Основное
                            li.nav-step__item
                                a(href="project-settings-3.html").nav-step__link.is-active Изображения
                            li.nav-step__item
                                a(href="project-settings-4.html").nav-step__link Описание
                            li.nav-step__item
                                a(href="project-settings-5.html").nav-step__link Ссылки
                            li.nav-step__item
                                a(href="project-settings-6.html").nav-step__link Виджеты
                            li.nav-step__item
                                a(href="project-settings-7.html").nav-step__link Подписчики
                section.project-settings__main
                    h1.project-settings__main-title Изображения
                    form(action="#").project-settings__main-form
                        input(type="file", name="", id="n-new-logo", class="files-hidden", value="")
                        .input-block.n-new-project__main-form__area-logo
                            label(for="n-new-logo").input-block__label
                                span.input-block__label-name Логотип *
                                span.input-block__label-description Форматы: JPEG, PNG, BMP или GIF. Изображение которое будет отображаться в публикациях от имени проекта
                            picture.img-cover.input-block__file-logo
                                img(src="img/project-settings-logo.jpg")
                        .input-block.n-new-project__main-form__area-line
                            label.input-block__label
                                span.input-block__label-name Обложка *
                                span.input-block__label-description Вставьте ссылку на видео или загрузите изображение, которое будет представлять карточку проекта в ленте рекомендаций, списках и на странице проекта
                        .input-block.n-new-project__main-form__area-line
                            label.label-radio.input-block__label-radio
                                input(type="radio", name="n-new-poster", checked, value="Видео").label-radio__input
                                span.label-radio__inner
                                    span.label-radio__title Видео
                            .video-link-block.input-block__video-link-block
                                .video-link-block__link-wrap
                                    .text-overflow.video-link-block__link https://youtu.be/dQw4w9WgXcQ
                                    button(type="button").btn-reset.video-link-block__btn-change Изменить
                                .media-responsive.video-link-block__el-wrap
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zDnS2l1S0xI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        input(type="file", name="", id="n-new-picture", class="files-hidden", value="")
                        .input-block.n-new-project__main-form__area-line
                            label.label-radio.input-block__label-radio
                                input(type="radio", name="n-new-poster", value="Изображение").label-radio__input
                                span.label-radio__inner
                                    span.label-radio__title Изображение
                            label(for="n-new-picture").input-file.input-file--picture.input-block__file
                                span.input-file__inner
                                    svg.u-icon.input-file__icon
                                        use(xlink:href="img/sprite.svg#download-arrow")
                                        span.input-file__description JPEG, PNG, BMP, GIF<br>Минимальная ширина 1080 px, рекомендуемые пропорции 16:9
                                        span.input-file__title Загрузить
                        .group-btns.n-new-project__main-form-btns
                            button(type="submit").btn.btn--size-sm.btn-green.group-btns__item Сохранить изменения
                            button(type="button").btn.btn--size-sm.btn-simple.group-btns__item Предпросмотр

        include includes/footer.pug