doctype html
html(lang='ru')

    include includes/head.pug

    body

        include includes/header-profile.pug

        main.project-settings
            .container.project-settings__container
                aside.project-settings__aside
                    .project-settings__aside-pager
                        a(href="#").pager-link.pager-link--prev.project-settings__aside-pager-link
                            .pager-link__icon(style="background-image: url(img/pager-link-arrow.svg)")
                            | Назад
                        .project-settings__aside-pager-title Управление проектом
                    .project-tip.project-settings__aside-project-tip
                        picture.img-cover.project-tip__picture
                            img(src="img/project-ava.jpg", alt="Опыт развития форм деятельности").project-tip__img
                        .project-tip__content
                            .text-overflow.project-tip__name Опыт развития форм деятельности
                            a(href="#").project-tip__prev-link вернуться к проекту
                    nav(role="navigation").nav-step.nav-step--mobile-scroll.project-settings__aside-nav
                        ul.nav-step__list
                            li.nav-step__item
                                a(href="project-settings-1.html").nav-step__link Донаты
                            li.nav-step__item
                                a(href="project-settings-2.html").nav-step__link Основное
                            li.nav-step__item
                                a(href="project-settings-3.html").nav-step__link Изображения
                            li.nav-step__item
                                a(href="project-settings-4.html").nav-step__link Описание
                            li.nav-step__item
                                a(href="project-settings-5.html").nav-step__link Ссылки
                            li.nav-step__item
                                a(href="project-settings-7.html").nav-step__link Подписчики
                            li.nav-step__item
                                a(href="project-settings-8.html").nav-step__link Верификация
                            li.nav-step__item
                                a(href="project-settings-6.html").nav-step__link.is-developing.is-active Виджеты
                            li.nav-step__item
                                a(href="project-settings-9.html").nav-step__link.is-developing Статистика
                section.project-settings__main
                    h1.project-settings__main-title Виджеты
                    .project-settings__main-developing Раздел в процессе наполнения

        include includes/footer.pug