doctype html
html(lang='ru')

    include includes/head.pug

    body

        include includes/header-profile.pug

        main.project-settings
            .container.project-settings__container
                aside.project-settings__aside
                    .project-settings__aside-pager
                        a(href="#").pager-link.pager-link--prev.project-settings__aside-pager-link
                            .pager-link__icon(style="background-image: url(img/pager-link-arrow.svg)")
                            | Назад
                        .project-settings__aside-pager-title Управление проектом
                    .project-tip.project-settings__aside-project-tip
                        picture.img-cover.project-tip__picture
                            img(src="img/project-ava.jpg", alt="Опыт развития форм деятельности").project-tip__img
                        .project-tip__content
                            .text-overflow.project-tip__name Опыт развития форм деятельности
                            a(href="#").project-tip__prev-link вернуться к проекту
                    nav(role="navigation").nav-step.nav-step--mobile-scroll.project-settings__aside-nav
                        ul.nav-step__list
                            li.nav-step__item
                                a(href="project-settings-1.html").nav-step__link.is-active Донаты
                            li.nav-step__item
                                a(href="project-settings-2.html").nav-step__link Основное
                            li.nav-step__item
                                a(href="project-settings-3.html").nav-step__link Изображения
                            li.nav-step__item
                                a(href="project-settings-4.html").nav-step__link Описание
                            li.nav-step__item
                                a(href="project-settings-5.html").nav-step__link Ссылки
                            li.nav-step__item
                                a(href="project-settings-7.html").nav-step__link Подписчики
                            li.nav-step__item
                                a(href="project-settings-8.html").nav-step__link Верификация
                            li.nav-step__item
                                a(href="project-settings-6.html").nav-step__link.is-developing Виджеты
                            li.nav-step__item
                                a(href="project-settings-9.html").nav-step__link.is-developing Статистика
                section.project-settings__main
                    h1.project-settings__main-title Донаты
                    .balance-alert.project-settings__main-balance-alert
                        .balance-alert__inner
                            .balance-alert__header
                                .balance-alert__amount
                                    .balance-alert__amount-current Баланс: 5297 ₽
                                    .balance-alert__amount-all всего собрано: 7397 ₽
                                a(href="#").btn.btn-green.btn--size-md.balance-alert__btn Вывести на карту
                            .balance-alert__content
                                .balance-alert__description Минимальная сумма вывода средств 2100 ₽, комиссия банка 3%
                                .balance-alert__card-info Привязанная карта: VISA **** 1234
                                    a(href="#modal-change-card").js-modal-open.balance-alert__card-change Изменить
                    .transactions-block.project-settings__main-transactions
                        .transactions-block__header
                            .transactions-block__header-title Транзакции:
                            .filter-group.transactions-block__header-filter
                                .filter-item.filter-group__item
                                    button(type="button").filter-item__btn всё время
                                    .filter-item__dropdown Dropdown
                        .transactions-block__list
                            .transactions-item.transactions-item--balance-plus.transactions-block__list-item
                                .transactions-item__body
                                    .transactions-item__body-user
                                        picture.img-cover.transactions-item__body-user-picture
                                            img(src="img/team-card-1.jpg", alt="")
                                        .transactions-item__body-user-content
                                            .transactions-item__body-user-name Андрей Эдуардович
                                            time.transactions-item__body-user-date 5 марта 2022, 17:00
                                    .transactions-item__body-amount +500 ₽
                            .transactions-item.transactions-item--balance-plus.transactions-item--new-comment.transactions-block__list-item
                                .transactions-item__body
                                    .transactions-item__body-user
                                        picture.img-cover.transactions-item__body-user-picture
                                            img(src="img/team-card-1.jpg", alt="")
                                        .transactions-item__body-user-content
                                            .transactions-item__body-user-name Андрей Эдуардович
                                            time.transactions-item__body-user-date 5 марта 2022, 17:00
                                    button(type="button").js-transactions-comment-open.comment-btn.transactions-item__body-comment-btn
                                        .comment-btn__icon-wrap
                                            svg.u-icon.comment-btn__icon
                                                use(xlink:href="img/sprite.svg#comment-outline")
                                            svg.u-icon.comment-btn__icon
                                                use(xlink:href="img/sprite.svg#comment-fill")
                                    .transactions-item__body-amount +1000 ₽
                                .transactions-item__dropdown
                                    .transactions-item__comment Общество потребления осмысленно притягивает сублимированный нишевый проект. Контекстная реклама консолидирует культурный формат события
                                    button(type="button").js-transactions-form-open.btn-reply.transactions-item__btn-reply Ответить
                                    form(action="#").comment-answer-form.transactions-item__comment-answer-form
                                        .comment-answer-form__body
                                            picture.img-cover.comment-answer-form__picture
                                                img(src="img/team-card-1.jpg", alt="")
                                            input(type="text", name="", required, placeholder="Напишите ответ").input-el.comment-answer-form__input
                                        .group-btns.comment-answer-form__group-btns
                                            button(type="button").btn.btn-cancel.btn--size-lt.group-btns__item Отмена
                                            button(type="submit").btn.btn-green.btn--size-lt.group-btns__item Опубликовать
                            .transactions-item.transactions-item--balance-plus.transactions-item--old-comment.transactions-block__list-item
                                .transactions-item__body
                                    .transactions-item__body-user
                                        picture.img-cover.transactions-item__body-user-picture
                                            img(src="img/team-card-3.jpg", alt="")
                                        .transactions-item__body-user-content
                                            .transactions-item__body-user-name Алёна Михайловна
                                            time.transactions-item__body-user-date 5 марта 2022, 17:00
                                    button(type="button").js-transactions-comment-open.comment-btn.transactions-item__body-comment-btn
                                        .comment-btn__icon-wrap
                                            svg.u-icon.comment-btn__icon
                                                use(xlink:href="img/sprite.svg#comment-outline")
                                            svg.u-icon.comment-btn__icon
                                                use(xlink:href="img/sprite.svg#comment-fill")
                                    .transactions-item__body-amount +100 ₽
                                .transactions-item__dropdown
                                    .transactions-item__comment Общество потребления осмысленно притягивает сублимированный нишевый проект. Контекстная реклама консолидирует культурный формат события
                                    .transactions-item.transactions-item--answer.transactions-item__answer
                                        .transactions-item__body
                                            .transactions-item__body-user
                                                picture.img-cover.transactions-item__body-user-picture
                                                    img(src="img/team-card-1.jpg", alt="")
                                                .transactions-item__body-user-content
                                                    .transactions-item__body-user-name Илья Панов
                                                    time.transactions-item__body-user-date 5 марта 2022, 17:00
                                        .transactions-item__comment Продуктовый ассортимент ускоряет потребительский рынок
                            .transactions-item.transactions-item--balance-minus.transactions-block__list-item
                                .transactions-item__body
                                    .transactions-item__body-user
                                        picture.img-cover.transactions-item__body-user-picture
                                            img(src="img/transactions-avatar-withdraw.svg", alt="")
                                        .transactions-item__body-user-content
                                            .transactions-item__body-user-name Вывод средств на карту
                                            time.transactions-item__body-user-date 5 марта 2022, 17:00
                                    .transactions-item__body-amount -2100 ₽


        #modal-change-card.modal
            .modal-body.modal__body
                .modal-body__center.modal-body__center--size-sm
                    .modal-title.modal-title--size-md.modal-body__title Изменить карту
                    button(type="button", title="Close").js-modal-close.btn-close.modal-body__close
                        svg.u-icon
                            use(xlink:href="img/sprite.svg#close")
                    .content.modal-body__text
                        p Введите номер карты (Visa, Mastercard, МИР), на которую будут выводиться донаты. Текущая карта: VISA **** 1234 будет изменена на новую:
                    form(action="#").modal-body__card-form
                        .input-block.input-block--label-size-md.modal-body__card-form-input-block
                            input(type="text", name="", required, placeholder="XXXX XXXX XXXX XXXX")#modal-card-input-card-number.js-mask-card-number.input-el.input-block__el
                        .input-block.input-block--label-size-md.modal-body__card-form-input-block
                            label(for="modal-card-input-password").input-block__label
                                span.input-block__label-name Пароль от аккаунта Uppora
                            .input-block__el-container
                                .js-input-password-switch.input-block__el-icon-wrapper.input-block__el-icon-wrapper--position-right
                                    svg.u-icon.input-block__el-icon
                                        use(xlink:href="img/sprite.svg#view-off")
                                    svg.u-icon.input-block__el-icon
                                        use(xlink:href="img/sprite.svg#view-on")
                                input(type="password", name="", required, value="")#modal-card-input-password.input-el.input-block__el
                        .group-btns.modal-body__card-form-group-btns
                            button(type="submit").btn.btn-green.btn--size-sm.group-btns__item Изменить
                            button(type="button").js-modal-close.btn.btn-cancel.btn--size-sm.group-btns__item Отмена

        include includes/footer.pug