doctype html
html(lang='ru')

    include includes/head.pug

    body

        main.l-login
            .container.l-login__container
                .l-login__inner
                    a(href="/").l-login__logo
                        img(src="img/logo.svg", alt="Uppora")
                    .login-el.l-login__block
                        header.login-el__header
                            h1.login-el__title Забыли пароль?
                            p.login-el__subtitle Пришлём ссылку для сброса на почту
                        form(action="#").login-el__form
                            .input-block.input-block--label-size-sm.login-el__form-line
                                label(for="user-form-email").input-block__label
                                    span.input-block__label-name
                                        strong Email
                                input(type="email", name="email", id="user-form-email", required, value="").input-el.input-block__el
                            button(type="submit").btn.btn--size-md.btn-green-accent.login-el__form-btn Отправить
                            .login-el__form-another
                                a(href="#") Войти с другой учетной записью

        include includes/footer-user-login.pug