@charset "UTF-8";

*,
*::before,
*::after, {
    box-sizing: border-box;
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

html{
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    font-family: $font-basic;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-display: swap;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

a,
a:visited {
    text-decoration: none;
}

button {
    border: none;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1072px;
    padding: 0 16px;
    margin: 0 auto;

    &-small {
        width: 100%;
        max-width: 672px;
        padding: 0 16px;
        margin: 0 auto;
    }

    &-large {
        width: 100%;
        max-width: 1170px;
        padding: 0 16px;
        margin: 0 auto;  
    }
}

@media screen and (max-width: 1169px) {
    body.is-hidden {
        overflow: hidden;
    }
}