$font-basic: 'Inter', arial, sans-serif;

$white: #ffffff;
$black: #000000;

$dark-blue: #374151;
$green1: #166534;
$green2: #15803D;
$green3: #16A34A;
$green4: #14532D;

$red: #EF4444;

$darknes: #111827;

$blue: #2563EB;
$blue-light: #F8FAFC;

$telegram-social: #26A5E4;
$vk-social: #0077FF;

$fs-3: 32px;
$fs-5: 20px;

$gray: #6b7280;
$gray-1: #9CA3AF;
$gray-light: #e5e7eb;