$font-basic: 'Inter', arial, sans-serif;

$white: #ffffff;
$black: #000000;

$dark-blue: #374151;
$green1: #166534;
$green2: #15803D;
$green3: #16A34A;

$red: #EF4444;

$darknes: #111827;

$blue: #2563EB;
$blue-light: #F8FAFC;

$gray: #6b7280;
$gray-light: #e5e7eb;